  GNU nano 7.2                                                                        requirements.txt                                                                                  
Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
WTForms
Werkzeug
secrets
